@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<string>

<h2>Update</h2>



@using (Html.BeginForm("UpdateStudent", "Home", new { student = Model }))
{
    <table class="table table-bordered table-responsive table-hover">
    <tr></tr>
    <tr><td> ID @Html.TextBox("StudentID", Model[0], new {  @readonly = "readonly" }) </tr>
    <tr><td> First Name @Html.TextBox("FirstName", Model[1]) </tr>
    <tr><td> Last Name @Html.TextBox("LastName", Model[2]) </tr>
    <tr><td> Address @Html.TextBox("Address", Model[3]) </tr>
    <tr><td> Major @Html.TextBox("Major", Model[4]) </tr>

</table>
    <td> <input type="submit" value="Update Records" /> </td>
}

@ViewData["Message"]
