@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<string>

<h2>Update</h2>



@using (Html.BeginForm("UpdateStudent", "Home", new { student = Model }))
{
    <table class="table table-bordered table-responsive table-hover">
    <tr></tr>
    <tr><td> @Html.TextBox("FirstName", Model[0]) </tr>
    <tr><td> @Html.TextBox("LastName", Model[1]) </tr>
    <tr><td> @Html.TextBox("Address", Model[2]) </tr>
    <tr><td> @Html.TextBox("Major", Model[3]) </tr>
    <tr><td> @Html.TextBox("Date", Model[4]) </tr>

</table>
    <td> <input type="submit" value="Update Records" /> </td>
}

@ViewData["Message"]
